<div class="col">
  <div class="card h-100 hoverable">
    {% if include.project.img %}
      <img src="{{ site.baseurl }}{{ include.project.img }}" alt="{{ include.project.title }}" class="card-img-top img-fluid" style="max-height:200px; object-fit:cover;">
    {% endif %}

    <div class="card-body">
      <h2 class="card-title">{{ include.project.title }}</h2>
      <p class="card-text">{{ include.project.description }}</p>

      {% if include.project.github %}
        <a href="{{ include.project.github }}" data-toggle="tooltip" title="Code Repository">
          <i class="fa-brands fa-github gh-icon"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>



