---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="gallery-grid">
  {% assign gallery_folder = page.folder %}
  {% assign path_fragment = '/assets/photo_gallery/' | append: gallery_folder %}
  {% assign images = site.static_files | where_exp: "file", "file.path contains path_fragment" %}
  
  <h2>Debug Output:</h2>
<ul>
  {% for file in site.static_files %}
    <li>{{ file.path }}</li>
  {% endfor %}
</ul>

<div class="gallery-grid">
  {% for image in images %}
    {% if image.extname == '.jpg' or image.extname == '.jpeg' or image.extname == '.png' %}
      <div class="gallery-item">
        <img src="{{ image.path }}" alt="{{ image.name }}">
      </div>
    {% endif %}
  {% endfor %}
</div>

</div>
